.section-main{
	border:solid 2px whitesmoke;
	padding: 3%;
	margin-top: 2%;
	margin-bottom: 2%;
	background-color:white;
}
.top-menu__infos{
	font-weight: 600;
	color: initial;
	font-size: 1.4rem;
	margin-right: 5%;
}
.top-menu__btns{
	width: 50%;
}

.menu{
	background-color: #e6f1f9;
	padding: 2%;

}
.menu .btn{
	margin-right: 2%;
}

.btn-primary{
	background-color: #0063AF;
	border-radius: 0;
}
.btn-disconnect{
	background-color:  #ededed!important;
	color: #00428B;
	border:none;
}
.btn-disconnect:hover{
	color:initial;
}

.section-form{
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	padding-top: 4%;
	background-color: #f4fdff;
}

.form-login{
	width: 60%;
	border: 2px solid whitesmoke;
	padding: 4%;
	background-color: white;
}

.section-logo{
	text-align: center;
}
.section-logo img{

	height: auto;
}

.form-control {
  border-radius: 4px;
  border: 2px solid whitesmoke;
}

th {
  background-color: #0063af;
  color: white;
}`

tr:nth-child(even) {background-color: #f4fdff;}

.messages {
font-size: 1.2rem;
text-align:center;
}