 /* Remove default bullets */
ul, #myUL {
  list-style-type: none;
}

/* Remove margins and padding from the parent ul */
#myUL {
  margin: 0;
  padding: 0;
}

/* Style the caret/arrow */
.caret {
  cursor: pointer;
  user-select: none; /* Prevent text selection */
}

/* Create the caret/arrow with a unicode, and style it */
.caret::before {
  content: "\25B6";
  color: black;
  display: inline-block;
  margin-right: 6px;
}

/* Rotate the caret/arrow icon when clicked on (using JavaScript) */
.caret-down::before {
  transform: rotate(90deg);
}

/* Hide the nested list */
.nested {
  display: none;
}

/* Show the nested list when the user clicks on the caret/arrow (with JavaScript) */
.active {
  display: block;
} 

h4{
  font-size: 1.1rem;
}
.arbo{
  padding-bottom: 2rem;

}
.todo{
  padding-top: 2rem;
  border-top: 2px solid grey;
  
}
.menu-dmp .btn{
  margin-right: 1rem;
  border-radius: 8px 8px 0 0;
  background-color: white;
  border:none;
  color: #00428B;
}
.main-container{
  background-color: #E6F1F9;
}
.main-left{
  background-color: white;
}
.main-main-container{
  background-color: white;
  padding: 2rem;
}