.section-main{
	border:solid 2px whitesmoke;
	padding: 3%;
	margin-top: 2%;
	margin-bottom: 2%;
	background-color:white;
}

.menu_profile-txt{
	font-weight: normal;
	color: initial;
	font-size: 1.4rem;
	margin-right: 2%;
}
.menu_profile{
	width: 50%;
	display: flex;
	align-items: center;
}
.menu{
	background-color: #e6f1f9;
	padding: 2%;

}
.menu-inner{
	display: flex;
	justify-content: space-between;
}
.menu .btn{
	margin-right: 2%;
}

.btn-primary{
	border-radius: 0;
	background-color: #0063af;
}
.btn-disconnect{
	background-color: #67ace1b3;
	border: none;
}
.section-form{
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	padding-top: 4%;
	background-color: #f4fdff;
}

.form-login{
	width: 60%;
	border: 2px solid whitesmoke;
	padding: 4%;
	background-color: white;
}
.top-menu svg{
	fill: #0063af;
	margin-left: 1em;
}
.top-menu img{
	height: auto;

}