<!DOCTYPE html>
<html>
<head>
    {% load static %}
	<title>Erreur de droits</title>

	<html lang="fr">
	<meta charset="UTF-8">
	<link rel="icon" type="image/png" href="{% static 'apple.png' %}" />
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.0/css/bootstrap.min.css" integrity="sha384-PDle/QlgIONtM1aqA2Qemk5gPOE7wFq8+Em+G/hmo5Iq0CCmYZLv3fVRDJ4MMwEA" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href={% static "index.css"%}>
	<link rel="stylesheet" type="text/css" href={% static "normalize.css"%}>
</head>
<body>

	<section class="container section-login">

	<div class="container d-flex align-items-center flex-column">
		<img src={% static "Logo-APHP.jpg" %}>
		
		<h1 style="margin-top: 60px; margin-bottom: 30px;">Vous n'avez pas les droits pour accéder à cette page</h1>
		<button class="btn btn-primary" onclick="javascript:history.go(-1)">
			Retourner à la page précédente
		</button>
			
		<img id="epocrate_logo" src={% static "logo_e-pocrate.png"%}>

		</div>
</section>
</body>
</html>