<!DOCTYPE html>
<html>
<head>
    {% load staticfiles %}
	<title>Rechercher un personnel</title>

	<html lang="fr">
	<meta charset="UTF-8">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.0/css/bootstrap.min.css" integrity="sha384-PDle/QlgIONtM1aqA2Qemk5gPOE7wFq8+Em+G/hmo5Iq0CCmYZLv3fVRDJ4MMwEA" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href={% static "home.css"%}>
	<link rel="stylesheet" type="text/css" href={% static "normalize.css"%}>
	<style type="text/css">
		label{
			font-weight: 500;
		}

	</style>
		<script type="text/javascript">
var tableau;
tableau = personnels;
alert(tableau);
message "eheh";
alert(message);
	</script>
</head>
<body>
	<section class="container-fluid">

			<section class="container section-logo">
			<img style="width: 7em;" src={% static "logo_e-pocrate.png"%}>
			<img style="width: 15em;" src={% static "Logo-APHP.jpg" %}>
		</section>
		<section class="container top-menu d-flex justify-content-between pt-5 pb-4">
			<div class="top-menu__btns">
				<a class="top-menu__infos" href="#">{{ request.user.getInfos }}</a>
				<a class="btn btn-primary btn-disconnect" href="{% url 'logout' %}">Déconnexion</a>
			</div>

			<div>
				<a href="searchPatient"> <input type="button" class="btn btn-primary" value="Rechercher DMP"> </a>
			</div>
		</section>
		<section class="menu container-fluid">
			<div class="container">
				<a href="createPersonnel"> <input type="button" class="btn btn-primary" value="Créer un membre du personnel"> </a>
			</div>
		</section>

		<section class="section-form">
			<h2>Recherche personnel</h2>
			<form class="form-login" action="" method="get">
				<div class="form-row">
					<div class="form-group col-md-6">
						<label for="nom">Nom</label>
						{{ formu.nom }}
					</div>
					<div class="form-group col-md-6">
						<label for="prenom">Prénom</label>
						{{ formu.prenom }}
					</div>
						<label for="job">Affiliation</label>&nbsp;&nbsp;
						{{ formu.job }}
				</div>
				<br>
				<input type="submit" class="btn btn-primary" name="" value="Rechercher">
<br>
    <br>
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    {% if message.tags %} {% endif %}{{ message }}
    {% endfor %}
</ul>
<br>
{% endif %}
    <div class="table">
{% if personnels %}
    <table>
<th>Nom</th>
<th>Prénom</th>
<th>Affiliation</th>
<th>Adresse</th>
<th>  </th>
{% for i in personnels %}
<tr><td>{{ i.nom }}</td><td>{{ i.prenom }}</td>

{% if i.job == 1%}
<td>{{ affiliation1 }}</td>
{% endif %}
{% if i.job == 2%}
<td>{{ affiliation2 }}</td>
{% endif %}
{% if i.job == 3%}
<td>{{ affiliation3 }}</td>
{% endif %}
{% if i.job == 4%}
<td>{{ affiliation4 }}</td>
{% endif %}

<td>{{i.adresse}}</td><td><a href="updatePersonnel/{{ i.id }}"><img src={% static "stylo_modification.png"%} width="20" height="20" /></a></td></tr>
{% endfor %}
<table>
<br>
<p style="text-align: center;"><input type="button" class="btn btn-primary" name="" value="Suivant" onclick="recherchePersonnel()"></p>
{% endif %}
</div>
<br>
<br>
			
			</form>
		</section>
		
	</section>
	
	
</body>
</html>
